<div class='main-nav'>
<div class='navbar navbar-inverse'>
<div class='navbar-header'>
<button type='button' class='navbar-toggle' data-toggle='collapse' data- target='.navbar-collapse'>
<span
    <span
    <span
    <span
</button>
class='sr-only'>Toggle navigation</span> class='icon-bar'></span> class='icon-bar'></span> class='icon-bar'></span>
    <a class='navbar-brand' >Fisher Insurance</a> </div>
<div class='clearfix'></div>
<div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li >
<a >
<span class='glyphicon glyphicon-home'></span> Home
</a> </li>
<li >
<a >
<span class='glyphicon glyphicon-education'></span> Quotes </a>
</li> <li >
<a >
<span class='glyphicon glyphicon-th-list'></span> Claims
</a> </li>
</ul> </div>
</div>

                         
}